* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    display: flex;
    justify-content: center;
    margin-bottom: -3rem;
    margin-top: 1rem;
    white-space: nowrap;
    padding: 0rem 2rem;
    position: relative;
}
h1::before{
    content:'';
    position: absolute;
    background-color: rgb(0, 20, 0);
    width: 40%;
    height: 1px;
    bottom:100%;
    left:10%;

}
h1::after{
    content:'';
    position: absolute;
    background-color: black;
    width: 40%;
    height: 1px;
    bottom:0%;
    right:10%;
}
.sequencer{
    margin-top: 5rem;
}

.controls {
    display: flex;
    margin: 2rem;

}


.pad {
    width: 60px;
    height: 60px;
    margin: 0.6rem;
    border-radius: 0.5rem;
    cursor: pointer;
    
}

.kick,
.clap,
.hihat {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 20;
    justify-content: center;
}

.kick-track,
.clap-track,
.hihat-track {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.kick-pad {
    background-color: rgb(236, 161, 161);
}
.kick-pad.active {
    background-color: rgb(243, 105, 105);
}
.clap-pad{
    background-color: rgb(171, 171, 241);
}
.clap-pad.active{
    background-color: rgb(104, 104, 230);
}
.hihat-pad{
    background-color: rgb(243, 225, 120);
}
.hihat-pad.active{
    background-color: rgb(240, 209, 38);
}
select,.mute
{
    margin: 1rem;
    max-height: 2rem;
    cursor: pointer;   
}
select{
    padding: 0.3rem;
    border: none;
    max-width: 120px;
    margin-right: 2rem;
}
#hihat-select
{
    margin-right: 1rem;
}
select:hover
{
    border: 1px solid black;
    border-radius: 0.5rem;
}
.mute{
    width: 40px;
    padding: 0.5rem;
    margin: 0.7rem 2rem;
    background-color: rgb(78, 68, 68);
    color: white;
    border: none;
    border-radius: 0.5rem;
}
.mute.active{
    background-color: rgb(139, 132, 132);
}
i{
    pointer-events:none;
}
h2{
    margin-top: 0.8rem;
}
.hihat-volume{
    margin-right: 3rem;
}
.play{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    background-color: rgb(78, 68, 68);
    padding: 0.6rem;
    font-size: 20px;
    margin-top: 2rem;
    color: white;
    border-radius: 0.5rem;
    width: 120px;
    cursor: pointer;
}
.tempo
{
    display: block;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    
}
.tempo-slider
{
    width: 30%;
    -webkit-appearance: none;
    padding: 0.1rem;
    background-color: rgb(78, 68, 68);
    color: white;
    outline: tomato;
    border-radius: 1rem;
}
input:focus
{
    outline: none !important;
}
.tempo-no
{
    margin: 1rem;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
@keyframes playTrack {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}
